# Dependencias
node_modules/
jspm_packages/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Base de datos (SQLite local)
*.sqlite
*.db
*.db-journal

# Variables de entorno (Seguridad)
.env
.env.test
.env.production

# Cobertura de pruebas
coverage/
.nyc_output/

# Docker
.dockerignore

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db

# IDEs (Opcional, pero recomendado)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace